{{view view.rowLoadingIndicatorView
  isLoading=view.isLoading
}}
{{view view.groupedRowIndicatorView
  hasChildren=view.hasChildren
  isExpanded=view.isExpanded
  expandLevel=view.expandLevel
}}
<span class="ember-table-content">
  {{view.cellContent}}
</span>
