{{#if view.isLoading}}
	<img class="loading-indicator" src="/ember-table/images/loading.gif" width="75px" height="15px">
{{else}}
	{{view view.indicatorView
		hasChildren=view.hasChildren
		isExpanded=view.isExpanded
		expandLevel=view.expandLevel
	}}
	<span class="ember-table-content">
	  {{view.cellContent}}
	</span>
{{/if}}
