<div class="ember-table-content-container">
  <span class="ember-table-content">
    {{view.content.headerCellName}}
    {{view "column-sort-indicator" classNames="column-sort-indicator"
    column=view.column
    }}
  </span>
</div>
